html, body
{
	margin           : 0;
	padding          : 0;
	border           : 0px;
	height           : 100%;
	background-color : #ffffff;
	font-family      : "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

a
{
	text-decoration : none;
}

.clear
{
	clear : both;
}

div#main
{
	width         : 860px;
	height        : 1005px;
	margin-top    : 30px;
	margin-bottom : 30px;
	margin-right  : auto;
	margin-left   : auto;
	border        : 2px solid #000;
}

div.seat_line
{
	width       : 398px;
	height      : 965px;
	margin-top  : 20px;
	margin-left : 20px;
	border      : 1px solid #ccc;
	float       : left;
}

div.seat
{
	width       : 167px;
	height      : 167px;
	font-size   : 44px;
	line-height : 167px;
	text-align  : center;
	margin-top  : 20px;
	margin-left : 20px;
	border      : 1px solid #ccc;
	float       : left;
}